{% extends 'base.html' %}
{% block stylesheet %}
    <style>
    .tut{
        cursor: not-allowed;

    }
    </style>
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block content %}
    <!--/single_page-->
       <!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>S<span>hopping Cart </span></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">

						   <ul class="w3_short">
								<li><a href="{% url 'product:index' %}">Home</a><i>|</i></li>
								<li>Cart</li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>

    {% load staticfiles %}
<div class="container">
    {% if query %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
    {% for cart in query %}
        <tr>
            <td>{{ cart.products.name }}</td>
            <td><img src="{{ cart.products.featured_image.url }}" alt="" height="50px;"></td>
            <td><input type="number" value="{{ cart.quantity }}" onchange="quantity()"></td>
            <td>{% widthratio cart.quantity 1 cart.products.sale_price %}</td>
            <td><a href="{% url 'product:cart' %}?action=delete&id={{ cart.id }}"><i class="fa fa-trash-o fa-2x"></i></a>
                <a href="" class="tut"><i class="fa fa-pencil-square-o fa-2x"></i></a>
            </td>
        </tr>
    {% endfor %}
        <tr style="border-top: 2px solid lightgrey">
            <td></td>
            <td></td>
            <td>Sub total:</td>
            <td>{{ total }}</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td>0</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ total }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <div class="total text-right">
        <a href="{% url 'product:shop' %}" class="btn btn-success btn-lg">Continue shopping</a>
        <a href="{% url 'product:checkout' %}" class="btn btn-default btn-lg">Proceed to checkout</a>
    </div>
    {% else %}
    <div class="empty-cart text-center">
        <img src="{% static 'images/empty-cart.gif' %}" alt="">
        <h1 class="text-muted">Sorry! your cart is empty.</h1>
        <a href="{% url 'product:shop' %}" class="btn btn-success btn-lg">Back to the shop</a>
    </div>
    {% endif %}
</div>
    <br><br><br><br>
{% endblock %}
{% block script %}
    <script>
    function quantity() {
        $('a').removeClass('tut');
    }
    </script>
{% endblock %}