{% extends 'base.html' %}
{% block stylesheet %}

{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block content %}
    <div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>C<span>heck Out </span></h3>
            <div class="services-breadcrumb">
                <div class="agile_inner_breadcrumb">
                   <ul class="w3_short">
                       <li><a href="{% url 'product:index' %}">Home</a><i>|</i></li>
                       <li><a href="{% url 'ecommerce:cart' %}">Cart</a><i>|</i></li>
                       <li>Check out</li>
                   </ul>
                </div>
            </div>
	    </div>
    </div>
<div class="container">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Check out</h3>
      </div>
      <div class="panel-body">
        <h3>Billing Details</h3>
        <form action="" method="POST" style="margin-top: 20px;">
        {% csrf_token %}
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="firstname">First Name:</label>
                    <input type="text" class="form-control" value="{{ customer.name.first_name }}" id="firstname" placeholder="First name">
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                    <label for="lastname">Last Name:</label>
                    <input type="text" class="form-control" value="{{ customer.name.last_name }}" id="lastname" placeholder="Last name">
                  </div>
              </div>

          </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" value="{{ customer.name.email }}" id="email" placeholder="Email">
                  </div>
              </div>
          </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" value="{{ shipping.city }}" id="city" placeholder="City">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="area">Area:</label>
                <input type="text" class="form-control" value="{{ shipping.area }}" id="area" placeholder="Area">
            </div>

            <div class="form-group">
                <label for="address">Address:</label>
                <textarea class="form-control" id="address" rows="10" placeholder="address">{{ shipping.address }}</textarea>
            </div>

            <div class="form-group">
                <label for="contact">Contact:</label>
                <input type="tel" class="form-control" id="contact" value="{{ shipping.alternative_mobile_no }}" placeholder="Contact">
            </div>


            <h3>Your Order:</h3>
            <div class="row">
                <div class="col-md-8">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in cart %}
                            <tr>
                            <td>{{ c.products.name }}*{{ c.quantity }}</td>
                            <td>{{ c.products.sale_price }}*{{ c.quantity }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4"></div>
            </div>
          <button type="submit" class="btn btn-default">Place order</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}