{% extends 'base.html' %}
{% block stylesheet %}
    <style>
    .panel-body form p {
    padding: 15px;
}
    button.btn.btn-primary {
    margin-left: 15px;
}
    </style>
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ title }}</h3>
          </div>
          <div class="panel-body">
              <form action="" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button class="btn btn-primary">{{ btn }}</button>
              </form>
          </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
    $(document).ready(function(){
        $(".panel-body p input").addClass('form-control');
        $(".panel-body p textarea").addClass('form-control');
    });
    </script>
{% endblock %}