{% extends 'base.html' %}
{% block stylesheet %}

{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block content %}
    {% load staticfiles %}
    {% if carousel %}
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			{% for c in carousel %}
                <li data-target="#myCarousel" data-slide-to="{{ c.id }}" class=""></li>
			{% endfor %}

		</ol>
		<div class="carousel-inner" role="listbox">
            {% for c in carousel %}
                {% if c.id == 1 %}
                <div class="item active" style="background: url('{{ c.background_image.url }}');">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3><span>{{ c.title }}</span></h3>
                            <p>{{ c.short_description }}</p>
                            <a class="hvr-outline-out button2" href="{{ c.button_url }}">{{ c.button_text }}</a>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="item item{{ c.id }}" style="background: url('{{ c.background_image.url }}');">
                    <div class="container">
                        <div class="carousel-caption">
                            <h3> <span>{{ c.title }}</span></h3>
                            <p>{{ c.short_description }}</p>
                            <a class="hvr-outline-out button2" href="{{ c.button_url }}">{{ c.button_text }} </a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- The Modal -->
    </div>
	<!-- //banner -->
    {% endif %}
    <div class="banner_bottom_agile_info">
	    <div class="container">
            <div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>
						</figure>
					</div>
					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>
						</figure>
					</div>
					<div class="clearfix"></div>
		    </div>
		 </div>
    </div>
	<!-- schedule-bottom -->
	<div class="schedule-bottom">
		<div class="col-md-6 agileinfo_schedule_bottom_left">
			<img src="{% static 'images/mid.jpg' %}" alt=" " class="img-responsive" />
		</div>
		<div class="col-md-6 agileits_schedule_bottom_right">
			<div class="w3ls_schedule_bottom_right_grid">
				<h3>Save up to <span>50%</span> in this week</h3>
				<p>Suspendisse varius turpis efficitur erat laoreet dapibus.
					Mauris sollicitudin scelerisque commodo.Nunc dapibus mauris sed metus finibus posuere.</p>
				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					<h4>Customers</h4>
					<h5 class="counter">{{ usr }}</h5>
				</div>
				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-calendar-o" aria-hidden="true"></i>
					<h4>Events</h4>
					<h5 class="counter">823</h5>
				</div>
				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-shield" aria-hidden="true"></i>
					<h4>Awards</h4>
					<h5 class="counter">45</h5>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //schedule-bottom -->
  <!-- banner-bootom-w3-agileits -->
	<div class="banner-bootom-w3-agileits">
	<div class="container">
		<h3 class="wthree_text_info">What's <span>Trending</span></h3>

		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="{% url 'product:shop' %}?cat=women">
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
							<img src="{% static 'images/bb1.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
			    </div>
			</a>
		</div>
		<div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
		      <a href="{% url 'product:shop' %}?cat=men">
		       <div class="bb-middle-agileits-w3layouts grid">
			           <figure class="effect-roxy">
							<img src="{% static 'images/bottom3.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>
						</figure>
		        </div>
				</a>
				<a href="mens.html">
		      <div class="bb-middle-agileits-w3layouts forth grid">
						<figure class="effect-roxy">
							<img src="{% static 'images/bottom4.jpg' %}" alt=" " class="img-responsive">
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 65%</p>
							</figcaption>
						</figure>
					</div>
					</a>
		<div class="clearfix"></div>
	</div>
	</div>
    </div>
<!--/grids-->
      <div class="agile_last_double_sectionw3ls">
            <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="{% url 'product:shop' %}?cat=women"><img src="{% static 'images/' %}bot_1.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>

			</div>
			 <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="{% url 'product:shop' %}?cat=women"><img src="{% static 'images/' %}bot_2.jpg" alt=" "><h4>Flat <span>50%</span> offer</h4></a>
			</div>
			<div class="clearfix"></div>
	   </div>
<!--/grids-->
<!-- /new_arrivals -->
	<div class="new_arrivals_agile_w3ls_info">
		<div class="container">
		    <h3 class="wthree_text_info">New <span>Arrivals</span></h3>
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							{% for cat in category %}
                                <li>{{ cat.name }}</li>
							{% endfor %}
						</ul>
					<div class="resp-tabs-container">
					<!--/tab_one-->
						{% for cat in category %}
                            <div class="tab{{ cat.id }}">
                            {% for p in products %}
                                {% if p.sub_category.category_id == cat.id %}
                                   <div class="col-md-3 product-men">
                                            <div class="men-pro-item simpleCart_shelfItem">
                                                <div class="men-thumb-item">
                                                    <img src="{{ p.featured_image.url }}" alt="" class="pro-image-front">
                                                    <img src="{{ p.second_image.url }}" alt="" class="pro-image-back">
                                                        <div class="men-cart-pro">
                                                            <div class="inner-men-cart-pro">
                                                                <a href="{% url 'product:single' id=p.id %}" class="link-product-add-cart">Quick View</a>
                                                            </div>
                                                        </div>
                                                        <span class="product-new-top">New</span>

                                                </div>
                                                <div class="item-info-product ">
                                                    <h4><a href="{% url 'product:single' id=p.id %}">{{ p.name }}</a></h4>
                                                    <div class="info-product-price">
                                                        <span class="item_price">${{ p.sale_price }}</span>
                                                        <del>${{ p.regular_price }}</del>
                                                    </div>
                                                    <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                                                        <form action="#" method="post">
                                                                            <fieldset>
                                                                                <input type="hidden" name="cmd" value="_cart" />
                                                                                <input type="hidden" name="add" value="1" />
                                                                                <input type="hidden" name="business" value=" " />
                                                                                <input type="hidden" name="item_name" value="Formal Blue Shirt" />
                                                                                <input type="hidden" name="amount" value="30.99" />
                                                                                <input type="hidden" name="discount_amount" value="1.00" />
                                                                                <input type="hidden" name="currency_code" value="USD" />
                                                                                <input type="hidden" name="return" value=" " />
                                                                                <input type="hidden" name="cancel_return" value=" " />
                                                                                <input type="submit" name="submit" value="Add to cart" class="button" />
                                                                            </fieldset>
                                                                        </form>
                                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                {% endif %}
                            {% endfor %}
                            <div class="clearfix"></div>
                            </div>
						{% endfor %}

						<!--//tab_one-->

					</div>
				</div>
			</div>
		</div>
	<!-- //new_arrivals -->
	<!-- /we-offer -->
		<div class="sale-w3ls">
			<div class="container">
				<h6>We Offer Flat <span>40%</span> Discount</h6>

				<a class="hvr-outline-out button2" href="single.html">Shop Now </a>
			</div>
		</div>
	<!-- //we-offer -->
<!--/grids-->
<div class="coupons">
		<div class="coupons-grids text-center">
			<div class="w3layouts_mail_grid">
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>FREE SHIPPING</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-headphones" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>24/7 SUPPORT</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>MONEY BACK GUARANTEE</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
					<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-gift" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>FREE GIFT COUPONS</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
</div>
<!--grids-->

{% endblock %}