<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav menu__list">
        <li class="active menu__item menu__item--current"><a class="menu__link" href="{% url 'product:index' %}">Home <span class="sr-only">(current)</span></a></li>
        <li class=" menu__item"><a class="menu__link" href="{% url 'product:shop' %}">Shop</a></li>
        {% for cat in category %}
            <li class="dropdown menu__item">
            <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ cat.name }} <span class="caret"></span></a>
                <ul class="dropdown-menu multi-column columns-3">
                    <div class="agile_inner_drop_nav_info">
                        <div class="col-sm-6 multi-gd-img1 multi-gd-text ">
                            <a href="{% url 'product:shop' %}?cat={{ cat.name }}"><img src="{{ cat.image.url }}" alt=" "/></a>
                        </div>
                        <div class="col-sm-3 multi-gd-img">
                            <ul class="multi-column-dropdown">
                                {% for s in subcategory %}
                                    {% if s.category.id == cat.id %}
                                        <li><a href="{% url 'product:shop' %}?cat={{ cat.name }}&sub={{ s.name }}">{{ s.name }}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </ul>
        </li>
        {% endfor %}
        <li class=" menu__item"><a class="menu__link" href="{% url 'site:contact' %}">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
