{% extends 'base.html' %}
{% block stylesheet %}

{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block content %}
{% load staticfiles %}
<div class="container">
<div class="profile-info">
    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'images/t1.jpg' %}" alt="" height="250px">
        </div>
        <div class="col-md-9">
            <h1>{{ user.name.get_full_name }}</h1>
            <h3>@{{ user.name.username }}</h3>
        </div>
    </div>
</div>
<div class="cart-info">
    <nav class="navbar navbar-default" style="width: 100%; background: #f1f0f0;">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'account:profile' %}?action=cart">Cart <span class="sr-only">(current)</span></a></li>
          <li><a href="{% url 'account:profile' %}?action=order">Order</a></li>
          <li><a href="{% url 'account:profile' %}?action=shipping">Shipping</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
{% if request.GET.action == 'cart' %}
    {% if query %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
        {% for cart in query %}
            <tr>
                <td>{{ cart.products.name }}</td>
                <td><img src="{{ cart.products.featured_image.url }}" alt="" height="50px;"></td>
                <td><input type="number" value="{{ cart.quantity }}" onchange="quantity()"></td>
                <td>{% widthratio cart.quantity 1 cart.products.sale_price %}</td>
                <td><a href="{% url 'product:cart' %}?action=delete&id={{ cart.id }}"><i class="fa fa-trash-o fa-2x"></i></a>
                    <a href="" class="tut"><i class="fa fa-pencil-square-o fa-2x"></i></a>
                </td>
            </tr>
        {% endfor %}
            <tr style="border-top: 2px solid lightgrey">
                <td></td>
                <td></td>
                <td>Sub total:</td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Shipping:</td>
                <td>0</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>{{ total }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <div class="total text-right">
            <a href="{% url 'product:shop' %}" class="btn btn-success btn-lg">Continue shopping</a>
            <a href="" class="btn btn-default btn-lg">Proceed to checkout</a>
        </div>
    {% endif %}




    {% elif request.GET.action == 'order' %}

    <h1>Order </h1>

    {% elif request.GET.action == 'shipping' %}
    {% if shipping %}
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Shipping locations <span class="pull pull-right"><a href="{% url 'account:update_shipping' %}">Update</a></span></h3>
          </div>
          <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            City
                        </div>
                        <div class="col-md-6">
                            :{{ shipping.city }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Area
                        </div>
                        <div class="col-md-6">
                            :{{ shipping.area }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Address
                        </div>
                        <div class="col-md-6">
                            :{{ shipping.address }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            Contact
                        </div>
                        <div class="col-md-6">
                            :{{ shipping.alternative_mobile_no }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
          </div>
        </div>
        {% else %}
        <h1 class="text-muted">No shipping address provided. Please <a href="{% url 'account:create_shipping' %}">click here</a> to add</h1>
    {% endif %}
{% endif %}
</div>
{% endblock %}
{% block script %}

{% endblock %}