{% extends 'base.html' %}
{% block stylesheet %}
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block content %}
<div class="page-head_agile_info_w3l">
	<div class="container">
		<h3><span>
            {% if request.GET.cat %}
                {{ request.GET.cat }}
                <small style="color: #f7f7f7;">{{ request.GET.sub }}</small>
                {% else %}
                Shop
            {% endif %}
        </span></h3>
        <div class="services-breadcrumb">
            <div class="agile_inner_breadcrumb">
               <ul class="w3_short">
                    <li><a href="{% url 'product:index' %}">Home</a><i>|</i></li>
                    {% if request.GET.cat %}
                        <li>{{ request.GET.cat }}<i>|</i></li>
                        <li>{{ request.GET.sub }}</li>
                        {% else %}
                        <li>Shop</li>
                    {% endif %}
                </ul>
             </div>
        </div>
	</div>
</div>

  <!-- banner-bootom-w3-agileits -->
	<div class="banner-bootom-w3-agileits">
	<div class="container">
         <!-- mens -->
		<div class="col-md-4 products-left">
			<div class="filter-price">
				<h3>Filter By <span>Price</span></h3>
					<ul class="dropdown-menu6">
						<li>
							<div id="slider-range"></div>
							<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
						</li>
					</ul>
			</div>
			<div class="css-treeview">
				<h4>Categories</h4>
				<ul class="tree-list-pad">
					{% for cat in category %}
                        {% if request.GET.cat == cat.name %}
                            <li><input type="checkbox" checked="checked" id="item-{{ cat.id }}" /><label for="item-{{ cat.id }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>{{ cat.name }}</label>
                                <ul>
                                    {% for sub in subcategory %}
                                        {% if sub.category_id == cat.id %}
                                            <li><a href="{% url 'product:shop' %}?cat={{ cat.name }}&sub={{ sub.name }}" id="item-0-0"><label for="item-0-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>{{ sub.name }}</label></a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            {% else %}
                            <li><input type="checkbox" id="item-{{ cat.id }}" /><label for="item-{{ cat.id }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>{{ cat.name }}</label>
                                <ul>
                                    {% for sub in subcategory %}
                                        {% if sub.category_id == cat.id %}
                                            <li><a href="{% url 'product:shop' %}?cat={{ cat.name }}&sub={{ sub.name }}" id="item-0-0"><label for="item-0-0"><i class="fa fa-long-arrow-right" aria-hidden="true"></i>{{ sub.name }}</label></a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
					{% endfor %}

				</ul>
			</div>
			<div class="community-poll">
				<h4>Community Poll</h4>
				<div class="swit form">
					<form>
					<div class="check_box"> <div class="radio"> <label><input type="radio" name="radio" checked=""><i></i>More convenient for shipping and delivery</label> </div></div>
					<div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>Lower Price</label> </div></div>
					<div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>Track your item</label> </div></div>
					<div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>Bigger Choice</label> </div></div>
					<div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>More colors to choose</label> </div></div>
					<div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>Secured Payment</label> </div></div>
					<div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>Money back guaranteed</label> </div></div>
					<div class="check_box"> <div class="radio"> <label><input type="radio" name="radio"><i></i>Others</label> </div></div>
					<input type="submit" value="SEND">
					</form>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-8 products-right">
			<h5>Product <span>Compare(0)</span></h5>
			<div class="sort-grid">
				<div class="sorting">
					<h6>Sort By</h6>
					<select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
						<option value="null">Default</option>
						<option value="null">Name(A - Z)</option>
						<option value="null">Name(Z - A)</option>
						<option value="null">Price(High - Low)</option>
						<option value="null">Price(Low - High)</option>
						<option value="null">Model(A - Z)</option>
						<option value="null">Model(Z - A)</option>
					</select>
					<div class="clearfix"></div>
				</div>
				<div class="sorting">
					<h6>Showing</h6>
					<select id="country2" onchange="change_country(this.value)" class="frm-field required sect">
						<option value="null">7</option>
						<option value="null">14</option>
						<option value="null">28</option>
						<option value="null">35</option>
					</select>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>

				{% for pr in product %}
                    <div class="col-md-4 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="{{ pr.featured_image.url }}" alt="" class="pro-image-front">
                                <img src="{{ pr.second_image.url }}" alt="" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a href="{% url 'product:single' id=pr.id %}" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">New</span>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="{% url 'product:single' id=pr.id %}">{{ pr.name }}</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">${{ pr.sale_price }}</span>
                                    <del>${{ pr.regular_price }}</del>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    {% if request.user.is_authenticated %}
                                        <form action="" method="post">
                                        {% else %}
                                        <form action="{% url 'account:login' %}" method="post">
                                    {% endif %}
                                        {% csrf_token %}
                                        <input type="number" name="id" value="{{ pr.id }}" style="display: none;">
                                        <input type="submit" name="cart" value="Add to cart" class="button">

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="no-content">
                    <h1 style="color: lightgray;"><i>Sorry! No product found</i></h1>
                    </div>
				{% endfor %}

				<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>

		</div>
</div>
<!-- //mens -->
<!--/grids-->
<div class="coupons">
    <div class="coupons-grids text-center">
        <div class="w3layouts_mail_grid">
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>FREE SHIPPING</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>24/7 SUPPORT</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>MONEY BACK GUARANTEE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
                <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>FREE GIFT COUPONS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!--grids-->
{% endblock %}
{% block script %}
{% load staticfiles %}
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
<script>
        // You can also use "$(window).load(function() {"
        $(function () {
         // Slideshow 4
        $("#slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
        $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
            $('.events').append("<li>after event fired.</li>");
            }
            });
        });
</script>
<script src="{% static 'js/modernizr.custom.js' %}"></script>
	<!-- Custom-JavaScript-File-Links -->
	<!-- cart-js -->

<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js -->
	<!---->
    <script type='text/javascript'>//<![CDATA[
    $(window).load(function(){
     $( "#slider-range" ).slider({
                range: true,
                min: 0,
                max: 9000,
                values: [ 1000, 7000 ],
                slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
                }
     });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );

    });//]]>

    </script>
<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<!---->
{% endblock %}