{% extends 'base.html' %}
{% block stylesheet %}
    {% load staticfiles %}
<link rel="stylesheet" href="{% static '/css/flexslider.css' %}" type="text/css" media="screen" />
    <style>
    .single-rate {
    float: left;
    padding: 15px 0px;
}
    </style>
{% endblock %}
{% block nav %}
{% include 'nav.html' %}
{% endblock %}
{% block content %}
<!--/single_page-->
       <!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>Single <span>Page </span></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">

						   <ul class="w3_short">
								<li><a href="index.html">Home</a><i>|</i></li>
								<li>{{ product.name }}</li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>

  <!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
	<div class="container">
	     <div class="col-md-4 single-right-left ">
			<div class="grid images_3_of_2">
				<div class="flexslider">
					{% load staticfiles %}
					<ul class="slides">
						<li data-thumb="{{ product.featured_image.url }}">
							<div class="thumb-image"> <img src="{{ product.featured_image.url }}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="{{ product.second_image.url }}">
							<div class="thumb-image"> <img src="{{ product.second_image.url }}" data-imagezoom="true" class="img-responsive"> </div>
						</li>
                        {% if product.third_image %}
                            <li data-thumb="{{ product.third_image.url }}">
                                <div class="thumb-image"> <img src="{{ product.third_image.url }}" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        {% endif %}
					</ul>
					<div class="clearfix"></div>
				</div>	
			</div>
		</div>
		<div class="col-md-8 single-right-left simpleCart_shelfItem">
            <h3>{{ product.name }}</h3>
            <p><span class="item_price">${{ product.sale_price }}</span> <del>- ${{ product.regular_price }}</del></p>
            <div class="rating1">
                <span class="starRating">
                    <input id="rating5" type="radio" name="rating" value="5">
                    <label for="rating5">5</label>
                    <input id="rating4" type="radio" name="rating" value="4">
                    <label for="rating4">4</label>
                    <input id="rating3" type="radio" name="rating" value="3" checked="">
                    <label for="rating3">3</label>
                    <input id="rating2" type="radio" name="rating" value="2">
                    <label for="rating2">2</label>
                    <input id="rating1" type="radio" name="rating" value="1">
                    <label for="rating1">1</label>
                </span>
            </div>
            <div class="description">
                <h5>Check delivery, payment options and charges at your location</h5>
                 <form action="#" method="post">
                <input type="text" value="Enter pincode" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter pincode';}" required="">
                <input type="submit" value="Check">
                </form>
            </div>
            {% if request.user.is_authenticated %}
                <form action="" method="post">
                {% else %}
                <form action="{% url 'account:login' %}" method="post">
            {% endif %}
                {% csrf_token %}
					<div class="color-quality">
						<div class="color-quality-right">
							<h5>Quality :</h5>
                            <input type="number" name="quantity" min="1" value="1">
						</div>
					</div>
					<div class="occasional">
						<h5>Types :</h5>
						<div class="colr ert">
							<label class="radio"><input type="radio" name="radio" checked=""><i></i>Casual Shoes</label>
						</div>
						<div class="colr">
							<label class="radio"><input type="radio" name="radio"><i></i>Sneakers </label>
						</div>
						<div class="colr">
							<label class="radio"><input type="radio" name="radio"><i></i>Formal Shoes</label>
						</div>
						<div class="clearfix"> </div>
					</div>
                    {% if cart %}
                        <a href="{% url 'product:cart' %}">View cart</a>
                        {% else %}
                        <div class="occasion-cart">
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <input type="submit" name="cart" value="Add to cart" class="button">
                            </div>
                        </div>
                    {% endif %}
                </form>
					<ul class="social-nav model-3d-0 footer-social w3_agile_social single_page_w3ls">
                       <li class="share">Share On : </li>
                        <li><a href="#" class="facebook">
                              <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
                        <li><a href="#" class="twitter">
                              <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
                        <li><a href="#" class="instagram">
                              <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
                        <li><a href="#" class="pinterest">
                              <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                              <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
                    </ul>
					
		      </div>
	 			<div class="clearfix"> </div>
				<!-- /new_arrivals --> 
	<div class="responsive_tabs_agileits"> 
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li>Description</li>
							<li>Reviews</li>
							<li>Information</li>
						</ul>
					<div class="resp-tabs-container">
					<!--/tab_one-->
					   <div class="tab1">

							<div class="single_page_agile_its_w3ls">
							  {{ product.description|safe }}
							</div>
						</div>
						<!--//tab_one-->
						<div class="tab2">
							
							<div class="single_page_agile_its_w3ls">
								<div class="bootstrap-tab-text-grids">
									<div class="bootstrap-tab-text-grid">
                                            {% for r in review %}
                                                <div class="single-rate">
                                                <div class="bootstrap-tab-text-grid-left">
                                                    <img src="{% static 'images/' %}t1.jpg" alt=" " class="img-responsive">
                                                </div>
                                                <div class="bootstrap-tab-text-grid-right">
                                                    <ul>
                                                        <li><a href="#">{{ r.name.name.get_full_name }}</a></li>
                                                        <li><a href="#"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a></li>
                                                    </ul>
                                                    <p>{{ r.comment }}</p>
                                                </div>
                                                </div>
                                            {% endfor %}
										<div class="clearfix"> </div>
						             </div>
									 <div class="add-review">
										<h4>add a review</h4>
										{% if request.user.is_authenticated %}
                                            <form action="" method="post">
                                                {% csrf_token %}
                                                <label for="rating" style="color: #545454;font-size: 0.9em;">Rating:</label>
                                                    <input type="number" id="rating" class="form-control" min="1" max="5" name="rating" required>
                                                <label for="comment" style="color: #545454;font-size: 0.9em;">Comment</label>
                                                <textarea name="comment" id="comment" class="form-control" required=""></textarea>
                                                <input type="submit" name="review" value="SEND">
                                            </form>

                                            {% else %}
                                            <h3>Please <a href="/login">Login</a> to give your review</h3>
										{% endif %}
									</div>
								 </div>
								 
							 </div>
						 </div>
						   <div class="tab3">

							<div class="single_page_agile_its_w3ls">
							  {{ product.product_information|safe }}
							</div>
						</div>
					</div>
				</div>	
			</div>
	<!-- //new_arrivals --> 
	  	<!--/slider_owl-->
	
			<div class="w3_agile_latest_arrivals">
			<h3 class="wthree_text_info">Similar <span>Products</span></h3>
              {% for s in similar %}
                  <div class="col-md-3 product-men single">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                            <img src="{{ s.featured_image.url }}" alt="" class="pro-image-front">
                            <img src="{{ s.featured_image.url }}" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="{% url 'product:single' id=s.id %}" class="link-product-add-cart">Quick View</a>
                                    </div>
                                </div>
                                <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a href="{% url 'product:single' id=s.id %}">{{ s.name }}</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">${{ s.sale_price }}</span>
                                <del>${{ s.regular_price }}</del>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                <form action="#" method="post">
                                    <fieldset>
                                        <input type="hidden" name="cmd" value="_cart">
                                        <input type="hidden" name="add" value="1">
                                        <input type="hidden" name="business" value=" ">
                                        <input type="hidden" name="item_name" value="Sleeveless Solid Blue Top">
                                        <input type="hidden" name="amount" value="30.99">
                                        <input type="hidden" name="discount_amount" value="1.00">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="return" value=" ">
                                        <input type="hidden" name="cancel_return" value=" ">
                                        <input type="submit" name="submit" value="Add to cart" class="button">
                                    </fieldset>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
              {% endfor %}
						<div class="clearfix"> </div>
					<!--//slider_owl-->
		         </div>
	        </div>
 </div>
<!--//single_page-->
<!--/grids-->
<div class="coupons">
		<div class="coupons-grids text-center">
			<div class="w3layouts_mail_grid">
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>FREE SHIPPING</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-headphones" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>24/7 SUPPORT</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>MONEY BACK GUARANTEE</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
					<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-gift" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>FREE GIFT COUPONS</h3>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
</div>
<!--grids-->

{% endblock %}



{% block script %}
	<!-- //cart-js -->
	<!-- single -->
<script src="{% static 'js/imagezoom.js' %}"></script>
<!-- single -->

<!-- FlexSlider -->
<script src="{% static 'js/jquery.flexslider.js' %}"></script>
						<script>
						// Can also be used with $(document).ready()
							$(window).load(function() {
								$('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
								});
							});
						</script>
					<!-- //FlexSlider-->
<!-- //script for responsive tabs -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->

<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

{% endblock %}
